
    <h4><a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">{{ post.message_html|safe }}</a></h4>

	<div>

        <h5>
            <span class="username"><a href="{% url 'posts:for_user' username=post.user.username %}">@{{ post.user.username }}</a></span>
			<time class="time">{{ post.created_at }}</time>
			{% if post.group %}
			<span class="group-name">in <a href="#">{{ post.group.name }}</a></span>
			{% endif %}
        {% if user.is_authenticated and post.user == user and not hide_delete %}
            <a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-primary">Delete</a>
        {% endif %}
		</h5>


	</div>

